.main_navigation_wrapper {
  width: calc(100% - 60px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 10px;
  position: fixed;
  top: 0;
  z-index: 99;
  background-color: var(--page_bg);
}
.main_navigation_left_content {
  width: 510px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
}
.logo_ipad,
.logo_mobile {
  display: none;
}

.phone_btn {
  color: var(--color_white);
  font-family: var(--Gilroy_light);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: block;
}
.phone_btn:hover {
  color: var(--color_yellow);
}
@media screen and (max-width: 768px) {
  .main_navigation_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0 20px;
  }
  .main_navigation_wrapper .navbar {
    display: none;
  }
  .logo_destkop {
    display: none;
  }
  .logo_ipad {
    display: block;
  }
  .main_navigation_left_content {
    width: 368px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: 37px;
  }
  .main_navigation_wrapper #nav-icon {
    position: relative;
    z-index: 99;
  }
}
@media screen and (max-width: 550px) {
  .main_navigation_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0 20px;
  }
  .main_navigation_wrapper .navbar {
    display: none;
  }
  .logo_destkop {
    display: none;
  }
  .logo_ipad {
    display: none;
  }
  .logo_mobile {
    display: block;
  }
  .main_navigation_left_content {
    display: none;
  }
}
