.navbar {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  /* margin: 0 0 0 152px; */
}
.navlink_item {
  color: var(--color_white);
  font-family: var(--Gilroy_medium);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  transition: all 0.2s;
  padding-bottom: 2px;
  border-bottom: 2px solid #272727;
}
.navlink_item:hover {
  color: var(--color_yellow);
  border-bottom-color: var(--color_yellow);
}
.active {
  color: var(--color_yellow);
  font-family: var(--Gilroy_medium);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  padding-bottom: 2px;
  border-bottom: 2px solid var(--color_yellow);
}
.navlink_item_btn {
  color: var(--color_white);
  font-family: var(--Gilroy_medium);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  transition: all 0.2s;
  background: transparent;
  display: flex;
  align-items: center;
  padding-bottom: 2px;
  border-bottom: 2px solid #272727;
}
.navlink_item_btn:hover {
  cursor: pointer;
  color: var(--color_yellow);
  border-bottom-color: var(--color_yellow);
}
.dropbtn:hover .dropbtn_icon {
  color: var(--color_yellow);
}

.active_drop .dropbtn_icon {
  color: var(--color_yellow);
}

.sidemenu-container .navbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: auto;
  row-gap: 20px;
  padding-left: 258px;
  padding-top: 182px;
  /* margin: 0 0 0 152px; */
}
.sidemenu-container .navlink_item {
  color: var(--color_white);
  font-family: var(--Gilroy_medium);
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  transition: all 0.2s;
  padding-bottom: 0;
  border-bottom: none;
}
.sidemenu-container .active {
  color: var(--color_yellow);
  font-family: var(--Gilroy_medium);
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  padding-bottom: 0;
  border-bottom: none;
}
.sidemenu-container .navlink_item:hover {
  color: var(--color_yellow);
}
.sidemenu-container .dropbtn_icon {
  font-size: 34px;
  margin-left: 17px;
}

@media screen and (max-width: 550px) {
  .sidemenu-container .navbar {
    width: 288px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 0;
    row-gap: 20px;
    padding-left: 0;
    padding-top: 117px;
    padding-bottom: 55px;
    border-bottom: 1px solid var(--color_yellow);
  }
  .sidemenu-container .navlink_item {
    color: var(--color_white);
    font-family: var(--Gilroy_medium);
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    transition: all 0.2s;
    padding-bottom: 0;
    border-bottom: none;
  }
  .sidemenu-container .active {
    color: var(--color_yellow);
    font-family: var(--Gilroy_medium);
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    padding-bottom: 0;
    border-bottom: none;
  }
  .sidemenu-container .navlink_item:hover {
    color: var(--color_yellow);
  }
  .sidemenu-container .dropbtn_icon {
    font-size: 34px;
    margin-left: 17px;
  }
}
